.bg-1{
    position: absolute;
    top: 0;
}

.bg-2{
    position: absolute;
    bottom: 0;
    right: 0;
}

.bg-3{
    position: absolute;
    left: 0;
    bottom: 0;
}

@media screen and (max-width: 900px) {
    .right{
        display: none;
    }
    .left{
        width: 100%;
        position:  fixed;
        height: 80%;
    }
    
}